body{
    color: rgb(52, 61, 56);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
}


.navbar {
    background-color: #298a08;
    
}

.quem-somos{
background-color: rgb(171, 216, 216);

}

.margin{

    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(27, 37, 27);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}